<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Thomas Bronner's CV">
    <title>Thomas Bronner, analyse programmeur indépendant</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">



    <!--[if lte IE 8]>
<link rel="stylesheet" href="css/side-menu-old-ie.css">
<![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/side-menu.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!--<![endif]-->
  </head>
  <body>
    <div id="layout">
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>

      <div id="menu">
        <div class="pure-menu">
          <!-- 					<a class="pure-menu-heading" href="#">Company</a> -->

          <ul class="pure-menu-list">
            <li>TODO english version</li>
            <li class="pure-menu-item">
              <a href="#title" class="pure-menu-link">
                <img src="/img/fr.png" style="width:1.5em; margin-right:1em" alt="Français"/>
                <img src="/img/en-us.png" style="width:1.5em; margin-right:1em" alt="English"/>
              </a>
            </li>
            <li class="pure-menu-item"><a href="#title" class="pure-menu-link">Présentation</a></li>
            <li class="pure-menu-item"><a href="#skills" class="pure-menu-link">Compétences</a></li>
            <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>
            <li class="pure-menu-item"><a href="#ref-client" class="pure-menu-link">Références</a></li>
            <li class="pure-menu-item"><a href="#experience" class="pure-menu-link">Expérience</a></li>
          </ul>
        </div>
      </div>

      <div id="main">

        <div class="header" id="title">
          <div class="pure-g">
            <div class="pure-u-1-5">
              <img src="/img/face.jpg" alt="Smiley face"
                   style="display: block;
                          max-width: 40%;
                          height: auto;
                          margin-top: 10px; margin-bottom: 10px;
                          border-radius: 8px;
                          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            </div>
            <div class="pure-u-4-5">
              <h1>Thomas Bronner</h1>
              <h2>Analyste programmeur indépendant</h2>
            </div>
          </div>
        </div>

        <div class="content">
          <p>J'étudie tout projet réalisable <strong>en télétravail</strong>, en particulier dans l'informatique scientifique.</p>
          <p>Outre une culture scientifique et philosophique suffisante pour comprendre les problématiques au delà de leurs aspects purement techniques, j'ai acquis une familiarité particulière avec des concepts employés en sylviculture, dendrologie et pédologie.</p>

          <h2 class="content-subhead" id="skills">Compétences</h2>

          <h3 class="content-subhead">Par technologie</h3>
          <form id="tech-search" action="/#tech-search" class="pure-form" method="post" style="margin-bottom: 1em">
            <input type="text" name="tech-names">
            <button type="submit" name="search-skill" class="pure-button">Search</button>
          </form>
          {{{skill-search-result}}}

          <h3 class="content-subhead">Par domaine</h3>
          <div class="pure-g">
            <div class="pure-u-1-3"> {{{skill-type}}} </div>
            <div class="pure-u-2-3"> {{{skill-detail}}} </div>
          </div>

          <h4  id="mastery" class="content-subhead">Maîtrise</h4>
          <i><p>Ces nombres quelque peu arbitraires donnent une idée de mon niveau de compétence dans une technologie.
            Le maximum, 100%, indique ce que je sais faire le mieux et pour lequel j'ai une solide expérience.
            Cela ne signifie absolument pas qu'il ne me reste rien à apprendre sur le sujet. Bien au contraire !</p>
            <p>
              De la même façon, lorsque le nombre est plutôt proche de 0%, cela n'indique pas forcément que je sois mauvais avec la technologie en question.
              Cela peut indiquer une compétence qui n'a pas été mobilisée depuis longtemps et/ou dans une version désormais obsolète.
            </p>
          </i>


          <h2 class="content-subhead" id="ref-client">Références clients</h2>
          {{{clients}}}

          <h2 class="content-subhead" id="experience">Expérience</h2>
          <h3 class="content-subhead">Indépendant</h3>
          {{{freelance}}}

          <h3 class="content-subhead">Salarié</h3>
          {{{salariat}}}


          <h2 class="content-subhead">Formation</h2>
          {{{education}}}

          <h2 class="content-subhead" id="contact" >Contact</h2>
          {{{contact}}}


        </div>
      </div>
      <script src="js/ui.js"></script>
      </body>
    </html>
