.nomargin {
	margin:0;
	padding:0;
}

.button {
	color: #191818;
	border-radius: 4px;
	background: #DCDCDC;
	margin-right: 0.5em;
	margin-bottom:0.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #D3D3D3;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    width: 10em;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

h5.content-subhead {
  margin-top: 1em;
}
